


<% if @registro.errors.any? %>
    <div id="error_explanation">
        <h2><% pluralize(@registro.errors.count, "error") %> Errores para guardar:</h2>
        <ul>
            <% @registro.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% else %>
    <h1>Registrado Correctamente</h1>
<% end %>